<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="Status" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- Photo Tab -->
  <ion-tab title="Photo" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/photo">
    <ion-nav-view name="tab-info-one"></ion-nav-view>
  </ion-tab>

  <!-- List Tab -->
  <ion-tab title="List" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/list">
    <ion-nav-view name="tab-info-two"></ion-nav-view>
  </ion-tab>

</ion-tabs>
